---
layout: default
---

{% include page-intro.html %}
{{ page.last_modified_at }}
<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <article class="entry-wrap">
      <div class="entry-content">
        {{ content }}
      </div>
      {% if site.disqus.shortname %}
        {% include disqus_comments.html %}
      {% endif %}
    </article>
    {% include footer.html %}
  </div>
  <script>
    renderMathInElement(
      document.getElementById("main"),
      {
        delimiters: [
          {left: "$$", right: "$$", display: true},
          {left: "\\[", right: "\\]", display: true},
          {left: "$", right: "$", display: false},
          {left: "\\(", right: "\\)", display: false}
        ]
      }
    );
  </script>
</main>
